

div.home {
  background-image: url("NY.gif");
  background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}


div.map {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}


div.botton {
  display: inline-block;
  vertical-align: text-top;
  padding: 7px;
  border: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: #CCC;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400;}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
}


.navbar {
    margin-bottom: 0;
}

.leaflet-label {
	
	background: green;
	background-clip: padding-box;
	border-color: #777;
	border-color: rgba(0,0,0,0.45);
	border-radius: 4px;
	border-style: solid;
	border-width: 4px;
	color: white;
	display: block;
	font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 1px 6px;
	position: absolute;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	pointer-events: none;
	white-space: nowrap;
	z-index: 500;
}


.div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}
